### Mohamad Ibnu Fajar Maulana
### 21083010106
### Data Wrangling C

In [1]:
import sqlite3

# membuat koneksi ke database
conn = sqlite3.connect('Shoping.db')

# membuat cursor
c = conn.cursor()

# membuat tabel pertama
c.execute('''CREATE TABLE IF NOT EXISTS customers
             (id INTEGER PRIMARY KEY,
              name TEXT,
              email TEXT,
              age INTEGER,
              gender TEXT)''')  

# menambahkan data ke tabel customers
data_customers = [(1, 'Ibnu', 'Ibnu@example.com', 25, 'Male'),  
                  (2, 'Amel', 'Amel@example.com', 30, 'Female'),
                  (3, 'Fajar', 'Fajar@example.com', 20, 'Male')]
c.executemany('INSERT INTO customers VALUES (?, ?, ?, ?, ?)', data_customers)

# membuat tabel kedua
c.execute('''CREATE TABLE IF NOT EXISTS orders
             (id INTEGER PRIMARY KEY,
              customer_id INTEGER,
              product TEXT,
              quantity INTEGER,
              FOREIGN KEY(customer_id) REFERENCES customers(id))''')

# menambahkan data ke tabel orders
data_orders = [(1, 1, 'Sepatu', 2),
               (2, 1, 'Sendal', 1),
               (3, 2, 'Celana Panjang', 3)]
c.executemany('INSERT INTO orders VALUES (?, ?, ?, ?)', data_orders)

# commit perubahan dan menutup koneksi
conn.commit()
conn.close()

In [2]:
# membuat koneksi ke database
conn = sqlite3.connect('Shoping.db')
c = conn.cursor()

# melakukan query dengan group by
c.execute('''SELECT product, SUM(quantity)
             FROM orders
             GROUP BY product''')
data = c.fetchall()
print(data)

# menutup koneksi
conn.close()

[('Celana Panjang', 3), ('Sendal', 1), ('Sepatu', 2)]

In [5]:
# membuat koneksi ke database
conn = sqlite3.connect('Shoping.db')
c = conn.cursor()

# melakukan join tabel
c.execute('''SELECT customers.name, orders.product, orders.quantity
             FROM customers
             JOIN orders ON customers.id = orders.customer_id''')
data = c.fetchall()
print(data)

# menutup koneksi
conn.close()

[('Ibnu', 'Sepatu', 2), ('Ibnu', 'Sendal', 1), ('Amel', 'Celana Panjang', 3)]